body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(78, 78, 78);
  background-image: url(https://static6.depositphotos.com/1081417/588/i/600/depositphotos_5887476-stock-photo-coffee-bean.jpg);
  background-repeat: no-repeat;
  background-size: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap{
  width: 900px;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 45px;
  color: white;
}

.statistics{
  color: white;
  font-size: 30px;
}